/******************************************************************
Site Name:
Author:

Stylesheet: 600px and Up Stylesheet

******************************************************************/

/*
IMPORTANT NOTE ABOUT SASS 3.3 & UP
You can't use @extend within media queries
anymore, so just be aware that if you drop
them in here, they won't work.
*/
#inner-header {
	.sponsor {
		top:25px;
	}
}
.video-container {
	height:480px;
}
.content_area {
	max-width:853px;
}

.video-container iframe,
.video-container object,
.video-container embed {
	width:853px;
	height:480px;
	max-width:853px;
	max-height:480px;
}
.footer {
	padding-top:12em;
}
.footer_image {
	width:50%;
	max-width:800px;
}
